@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap");

svg {
	font-family: "Akaya Telivigala", sans-serif;
	width: 100%;
	height: 100%;
	margin-top: 17%;
	height: "100vh"
}

svg text {
	animation: stroke 4s infinite alternate;
	stroke-width: 2;
	stroke: #116B0E;
	font-size: 6vw;
	height: "100vh"
	/* Responsive font size */
}

@keyframes stroke {
	0% {
		fill: rgba(32, 90, 11, 0);
		stroke: rgba(17, 107, 14, 1);
		stroke-dashoffset: 25%;
		stroke-dasharray: 0 50%;
		stroke-width: 2;
	}

	70% {
		fill: rgba(32, 90, 11, 0);
		stroke: rgba(17, 107, 14, 1);
	}

	80% {
		fill: rgba(32, 90, 11, 0);
		stroke: rgba(17, 107, 14, 1);
		stroke-width: 3;
	}

	100% {
		fill: rgba(32, 90, 11, 1);
		stroke: rgba(17, 107, 14, 0);
		stroke-dashoffset: -25%;
		stroke-dasharray: 50% 0;
		stroke-width: 0;
	}
}








@media screen and (max-width: 850px) {
	svg {
		margin-top: 59%;
	}
	svg text {	
		font-size: 9vw;
	}
}